.artistsList {
  padding: 20px;
  /* max-width: 200px; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

body {
  margin: 0;
}

p {
  letter-spacing: -0.003em;
  line-height: 32px;
  margin-top: 2em;
  font-size: 20px;
  margin-bottom: -0.46em;
  font-family: "Source Serif 4", serif;
}

h2 {
  letter-spacing: -0.003em;
  line-height: 32px;
  margin-top: 1em;
  font-size: 30px;
  margin-bottom: 1em;
  font-style: italic;
  font-family: "Source Serif 4", serif;
}

h4 {
  letter-spacing: -0.003em;
  line-height: 32px;
  margin-top: 1em;
  font-size: 20px;
  margin-bottom: 1em;
  font-style: solid;
  font-family: "Source Serif 4", serif;
}

.bio {
  border: 0.1px solid gray;
  border-radius: 10px;
  padding: 20px 30px 70px 30px;
  text-align: left;
  box-shadow: 1px 1px 1px gray;
}
