.artistsList {
  padding: 20px;
  /* max-width: 200px; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

body {
  margin: 0;
}

p {
  letter-spacing: -0.003em;
  line-height: 32px;
  margin-top: 2em;
  font-size: 20px;
  margin-bottom: -0.46em;
  font-family: "Source Serif 4", serif;
}

h2 {
  letter-spacing: -0.003em;
  line-height: 32px;
  margin-top: 1em;
  font-size: 30px;
  margin-bottom: 1em;
  font-style: italic;
  font-family: "Source Serif 4", serif;
}

h4 {
  letter-spacing: -0.003em;
  line-height: 32px;
  margin-top: 1em;
  font-size: 20px;
  margin-bottom: 1em;
  font-style: solid;
  font-family: "Source Serif 4", serif;
}

.bio {
  border: 0.1px solid gray;
  border-radius: 10px;
  padding: 20px 30px 70px 30px;
  text-align: left;
  box-shadow: 1px 1px 1px gray;
  margin-top: 25px;
}

.main-gallery {
  padding: 20px;
}

.main-gallery .yarl__slide_title {
  margin-top: 60px;
  text-align: center;
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
}

.main-gallery .yarl__toolbar {
  width: 0px;
}

.gallery {
  padding: 2px;
}

/* Overwrite the yet-another-react-lightbox caption title */
.gallery .yarl__slide_title {
  margin-top: 60px;
  text-align: center;
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
}

.gallery .yarl__container {
  background-color: rgba(0, 0, 0, 0.92);
}

.gallery .yarl__slide_captions_container {
  background: rgba(0, 0, 0.05);
}

.gallery .yarl__toolbar {
  width: 0px;
}

/* iPad view */
@media all and (max-width: 840px) {
  .getStarted {
    margin-top: 100px !important;
  }
}

/* iPhone view */
@media all and (max-width: 500px) {
  .getStarted {
    margin-top: 40px !important;
  }
}
