.mainContainer {
  border: 1px solid black;
  margin: 2% 10%;
  padding: 5px;
}

.questionImageContainer {
  display: flex;
  justify-content: center;
}

.questionImage {
  max-width: 700px;
  max-height: 400px;
}

.questionText {
  text-align: center;
}

@media all and (max-width: 540px) {
  .questionImage {
    max-width: 250px;
    max-height: 300px;
  }
}

.selected {
  color: blue;
}

.success {
  background-color: green;
}

.danger {
  background-color: red;
}

.checked (
    
)
